*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.container-fluid {
  margin-top: 10px;
}
body {
  background-color: #000;
  color: white;
  position: relative;
  max-height: 98vh;
}
/* @media (max-width: 950px) {
  body{
    max-height: 50vh /* Change display property for smaller screens */
  /* }
} */ */

.right {
  /* border: 2px solid yellow; */
  /* height: 90vh; */
  background-color: #242424;
  /* margin-left: 3px; */
}
.leftUpr {
  background-color: #101010;
  height: 11rem;
  padding: 1px 2px;
  border-radius: 10px;
}
.leftMid {
  background-color: #101010;
  height: 15rem;
  padding: 1px 2px;
  border-radius: 10px;
  margin-top: 10px;
 
}
.section {
  display: flex;
  margin-left: 20px;
  margin-top: 1.2rem;
}
.section img {
  margin-right: 0.2rem;
}
.fa-solid {
  font-size: x-large;
  margin-right: 1.2rem;
}
.ll {
  margin-bottom: 20px !important;
}



.leftMid1
{
    display: flex;
    justify-content: space-between;
    margin-top: 6px !important;
    padding-left: 14px;
}
.leftMid2{
 
    overflow: hidden; /* Add overflow property */
    /* max-height: 200px; */
    /* overflow: auto; */
    
    max-height: 8.8rem;
    border-radius: 10px;
}
.leftMid2:hover{
  overflow: auto;
}
.leftMid2-1,.leftMid2-2
{
    margin-bottom: 30px;
    background-color: #242424;
    /* height: 70px; */
    
}



.footers{
  background-color: #fc00ff;
  background-image: linear-gradient(90deg, #fc00ff 0%, #00dbde 100%);
  height: 4rem;
  position: fixed;
  /* left: 0; */
z-index: 2;
  bottom: 0;
  width: 100%;
}
ul li{
  margin-right: 20px;
}

.leftLast
{ background-color: #101010;
  height: 11.4rem;
}


/* -----------------------------------right side--------------------------------------- */
.navbar
{
  /* height: 60px; */
  background-color: #101010;
  justify-content: space-between;
}
.signup:hover
{
font-size: large;
}
.mainw
{
  max-height: 34rem;
  overflow: auto; /* or overflow: scroll; */
  /* height: 200px; Set a height for the container to enable scrolling */
  /* width: 300px;  */
    
    /* height: 120rem; */
}


.card{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; 
}

.card:hover {
  background-color: #4e4d4d !important; /* Red background on hover */
}

ul
{
  list-style: none;
  color: whitesmoke;
}
.bold-list
{
  margin-right: 4rem;
}

.bold-list li:first-child
{
font-weight: bolder;
margin-bottom: 5px;
}
.huh:hover
{
font-weight: 700;
font-size:17px;
}
.kk
{
  display: flex;
  justify-content: space-between !important;
}